.headerDefault {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  margin-bottom: 4px;
  box-shadow: 0 4px 4px #baafb3;
}

.shadowHeader {
  padding: 15px 30px;
}
